* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HEADER */

.header {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

/* MAIN */

.main-container {
  padding: .5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-note-creation {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 800px;
}

.title-label {
  grid-area: title;
}

.title-input {
  grid-area: title2;
}

.tag-label {
  grid-area: tag;
}

.tag-input {
  grid-area: tag2;
}

.tag-button {
  grid-area: tag3;
}

.textarea-note {
  grid-area: textarea;
}

.create-note-btn {
  grid-area: add;
}

.note-form {
  display: grid;
  grid-template-areas:
    "title title2 title2 title2 . ."
    "tag tag2 tag2 tag2 tag3 tag3"
    "textarea textarea textarea textarea textarea textarea"
    "add add . . . .";
  gap: 1.5rem;
}

.note-form-item {
  display: flex;
  justify-content: space-around;
}

/* LIST OF NOTES */

.notes-list-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.note-container {
  background-color: #ccc;
  opacity: .7;
  border-radius: 15px;
  padding: .5rem;
}

.note-container:hover {
  opacity: 1;
  border: 1px solid rgb(255, 183, 29);
}

.note-title-container {
  margin-bottom: 1rem;
}

.note-title {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.note-content {
  text-transform: uppercase;
  font-size: .8rem;
}

.note-btn-container {
  display: flex;
  gap: 1rem;
}

.note-btn {
  background: none;
  border: none;
  padding: .2rem .5rem;
  border-radius: 10px;
  background-color: #2f3dff;
  color: #fff;
  opacity: .7;
}

.note-btn:hover {
  opacity: 1;
}

.btn-delete {
  background-color: #ff2f2f;
  color: #000;
}

.btn-delete:hover {
  color: #fff;
}

@media (min-width: 768px) {

  /* HEADER */
  .header {
    font-size: 1.5rem;
  }

  /* MAIN */
  .main-container {
    flex-direction: row;
    justify-content: center;
  }

  .main-note-creation {
    width: 50%;
  }

  .notes-list-container {
    width: 50%;
  }
}